# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

# Project outputs and data artifacts
outputs/
data/
*.csv

# Logs
*.log
